* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  padding: 30px;
}

h1 {
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 20px;
}

.ogcc-wrap.is_03 {
  max-width: 700px;
}

.ogcc-wrap.is_03 .ogcc-direction_part.is_top {
  border-top-color: #ff0707;
  border-right-color: #ff0707;
}

.ogcc-wrap.is_03 .ogcc-hoverContent {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  border: 1px solid #000;
  transition: opacity .3s;
  transform: translate(-50%, -130%);
}

.ogcc-wrap.is_03 .ogcc-hoverContent::before {
  top: 100%;
  left: calc(50% - 5px);
  border-top: 5px solid #000;
  border-bottom: none;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.ogcc-wrap.is_03 .ogcc-memoriY {
  left: 10px;
}

.sectionWrap + .sectionWrap {
  margin-top: 50px;
}